In [1]:
import pandas as pd
import os

In [47]:
cf = pd.read_csv(os.path.abspath('./src/data/client.csv'))
sf = pd.read_csv(os.path.abspath('./src/data/server.csv'))

In [48]:
cf['timestamp'] = cf['timestamp'].astype('datetime64[ns]')
sf['timestamp'] = sf['timestamp'].astype('datetime64[ns]')

In [49]:
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66679 entries, 0 to 66678
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    66679 non-null  datetime64[ns]
 1   error_id     66679 non-null  object
 2   player_id    66679 non-null  int64
 3   description  66679 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.0+ MB

In [99]:
sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66675 entries, 0 to 66674
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    66675 non-null  datetime64[ns]
 1   event_id     66675 non-null  int64
 2   error_id     66675 non-null  object
 3   description  66675 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.0+ MB

In [50]:
cf.head()

,timestamp,error_id,player_id,description
0,1970-01-01 00:00:01.615148137,9f38f71f-427c-4708-89b1-460447beee60,808459,"{""purpose"": ""```continue\nOf special middle ma..."
1,1970-01-01 00:00:01.621913820,52f42851-6d59-4357-9377-034f1ffdc011,687824,"{""purpose"": ""Professional mean common able gun..."
2,1970-01-01 00:00:01.609941800,bf863c14-64a3-4edc-b9ff-49a6c0955166,729781,"{""purpose"": ""![Without any in us daughter conf..."
3,1970-01-01 00:00:01.612068364,38152c64-d439-43cf-9856-4ca35d39d7ac,131824,"{""purpose"": ""<!-- Serious raise try everyone. ..."
4,1970-01-01 00:00:01.622449698,d67cef6e-40fb-4301-9d0d-4c6674c275a7,169066,"{""purpose"": ""> Sound manage their.\n\nPopular ..."

In [51]:
sf.head()

,timestamp,event_id,error_id,description
0,1970-01-01 00:00:01.613793745,48,c63c530e-cb13-45af-a5d6-98b496e25914,"{""purpose"": ""1. Outside media section try idea..."
1,1970-01-01 00:00:01.612068364,76,38152c64-d439-43cf-9856-4ca35d39d7ac,"{""purpose"": ""***\n\n|Yet know ten just.|Us ind..."
2,1970-01-01 00:00:01.611038860,79,42466610-f76d-4b88-a45d-613ba9908cd0,"{""purpose"": ""1. Fall court door forget give as..."
3,1970-01-01 00:00:01.622449698,39,d67cef6e-40fb-4301-9d0d-4c6674c275a7,"{""purpose"": ""Lay authority debate fast. Cut re..."
4,1970-01-01 00:00:01.613256285,64,621cf303-9bb0-4c63-8eb0-6de9a2538fda,"{""purpose"": ""<!-- Talk significant yourself se..."

In [142]:
conc = pd.merge(cf, sf, how='inner', on='error_id', suffixes=['_client', '_server'])
conc.rename(columns={"description_client": "json_client", "timestamp_server": "timestamp", "description_server": "json_server"}, inplace=True)

In [143]:
conc.head()

,timestamp_client,error_id,player_id,json_client,timestamp,event_id,json_server
0,1970-01-01 00:00:01.612068364,38152c64-d439-43cf-9856-4ca35d39d7ac,131824,"{""purpose"": ""<!-- Serious raise try everyone. ...",1970-01-01 00:00:01.612068364,76,"{""purpose"": ""***\n\n|Yet know ten just.|Us ind..."
1,1970-01-01 00:00:01.622449698,d67cef6e-40fb-4301-9d0d-4c6674c275a7,169066,"{""purpose"": ""> Sound manage their.\n\nPopular ...",1970-01-01 00:00:01.622449698,39,"{""purpose"": ""Lay authority debate fast. Cut re..."
2,1970-01-01 00:00:01.621928654,c6c1ec19-9582-4f1e-b487-0bb435fca435,292446,"{""purpose"": ""[Voice either simple huge result ...",1970-01-01 00:00:01.621928654,48,"{""purpose"": ""|Over focus prove security stock ..."
3,1970-01-01 00:00:01.612131165,7aec96d7-938f-4812-9c42-64f02b156583,874829,"{""purpose"": ""```kitchen\nGirl him sort such ad...",1970-01-01 00:00:01.612131165,91,"{""purpose"": ""<!-- Whatever share expert that n..."
4,1970-01-01 00:00:01.616823723,3d373bdc-59cf-4248-9868-6a0b5bfd10dd,852175,"{""purpose"": ""<!-- Community air home project n...",1970-01-01 00:00:01.616823723,60,"{""purpose"": ""[Group recent student.](https://w..."

In [144]:
conc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33354 entries, 0 to 33353
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp_client  33354 non-null  datetime64[ns]
 1   error_id          33354 non-null  object
 2   player_id         33354 non-null  int64
 3   json_client       33354 non-null  object
 4   timestamp         33354 non-null  datetime64[ns]
 5   event_id          33354 non-null  int64
 6   json_server       33354 non-null  object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 1.8+ MB

In [145]:
import sqlite3
cnx = sqlite3.connect(os.path.abspath(os.path.abspath('./src/data/cheaters.db')))
cheaters = pd.read_sql_query("SELECT * FROM cheaters", cnx)
cheaters['ban_time'] = cheaters['ban_time'].astype('datetime64[ns]')
cnx.close()

In [60]:
cheaters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16577 entries, 0 to 16576
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  16577 non-null  int64
 1   ban_time   16577 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 259.1 KB

In [59]:
cheaters.head()

   player_id            ban_time
0       1065 2021-04-02 20:48:00
1       1148 2021-03-22 20:49:18
2       1154 2021-05-19 07:50:19
3       1219 2021-04-07 19:47:12
4       1230 2021-05-09 23:42:07

In [146]:
ex = pd.merge(conc, cheaters, how='inner', on='player_id')

In [147]:
ex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8827 entries, 0 to 8826
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp_client  8827 non-null   datetime64[ns]
 1   error_id          8827 non-null   object
 2   player_id         8827 non-null   int64
 3   json_client       8827 non-null   object
 4   timestamp         8827 non-null   datetime64[ns]
 5   event_id          8827 non-null   int64
 6   json_server       8827 non-null   object
 7   ban_time          8827 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(2), object(3)
memory usage: 551.8+ KB

In [148]:
ex.head()

,timestamp_client,error_id,player_id,json_client,timestamp,event_id,json_server,ban_time
0,1970-01-01 00:00:01.621928654,c6c1ec19-9582-4f1e-b487-0bb435fca435,292446,"{""purpose"": ""[Voice either simple huge result ...",1970-01-01 00:00:01.621928654,48,"{""purpose"": ""|Over focus prove security stock ...",2021-02-06 11:32:01
1,1970-01-01 00:00:01.609658555,94660cc7-a68d-4c6c-b2de-edacc47755a3,674171,"{""purpose"": ""cost\n\t\t\t- White nearly operat...",1970-01-01 00:00:01.609658555,89,"{""purpose"": ""# Somebody sell fill practice cho...",2021-02-18 07:56:21
2,1970-01-01 00:00:01.612691679,64e46734-4b8a-41bf-aeea-c137bab70dfc,661597,"{""purpose"": ""[Necessary cover character.](http...",1970-01-01 00:00:01.612691679,84,"{""purpose"": ""1. Player today probably wind cen...",2021-04-27 12:41:13
3,1970-01-01 00:00:01.612980032,dbd4021a-6df6-4eaf-9547-8bb7bf8d25c8,793232,"{""purpose"": ""1. Support prepare food season qu...",1970-01-01 00:00:01.612980032,62,"{""purpose"": ""***Among place firm gun difficult...",2021-05-07 02:02:08
4,1970-01-01 00:00:01.622376349,d7e4c521-aeb8-4726-ad59-9606a3f0a70f,798639,"{""purpose"": ""Service garden once above wonder ...",1970-01-01 00:00:01.622376349,95,"{""purpose"": ""Set billion lawyer care whose art...",2021-04-07 10:54:27

In [70]:
import datetime
now = datetime.datetime.now()

def convert_ts_to_start_day(dt: datetime.datetime) -> datetime.datetime:
    return datetime.datetime(dt.year, dt.month, dt.day)

print(convert_ts_to_start_day(now))

2023-08-30 00:00:00

In [149]:
def compare(_id: int) -> bool:
    one = ex.query(f'player_id=={_id}')[['ban_time', 'timestamp']]
    if len(one) > 0:
        s = one.iloc[0].timestamp
        if one.iloc[0].ban_time < datetime.datetime(s.year, s.month, s.day):
            return False
    return True

In [150]:
compare(292446)

True

In [151]:
n = conc.drop(ex[ex['player_id'].apply(lambda x: compare(x))].index)

In [152]:
n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24527 entries, 8827 to 33353
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp_client  24527 non-null  datetime64[ns]
 1   error_id          24527 non-null  object
 2   player_id         24527 non-null  int64
 3   json_client       24527 non-null  object
 4   timestamp         24527 non-null  datetime64[ns]
 5   event_id          24527 non-null  int64
 6   json_server       24527 non-null  object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 1.3+ MB